{% extends 'base.html' %} {% block content %}
<h1 class="jumbotron display-1 justify-content-center">Kertolaskuja</h1>
<p class="lead">Valitse haluamasi kertolaskut</p>
<form action="laskut" method="POST">
  <div class="form-group">
    <div class="btn-group" role="group">
      <input
        type="checkbox"
        class="btn-check"
        id="taulu2"
        name="taulu2"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="taulu2">2</label>
      <input
        type="checkbox"
        class="btn-check"
        id="taulu3"
        name="taulu3"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="taulu3">3</label>
      <input
        type="checkbox"
        class="btn-check"
        id="taulu4"
        name="taulu4"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="taulu4">4</label>
      <input
        type="checkbox"
        class="btn-check"
        id="taulu5"
        name="taulu5"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="taulu5">5</label>
      <input
        type="checkbox"
        class="btn-check"
        id="taulu6"
        name="taulu6"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="taulu6">6</label>
      <input
        type="checkbox"
        class="btn-check"
        id="taulu7"
        name="taulu7"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="taulu7">7</label>
      <input
        type="checkbox"
        class="btn-check"
        id="taulu8"
        name="taulu8"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="taulu8">8</label>
      <input
        type="checkbox"
        class="btn-check"
        id="taulu9"
        name="taulu9"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="taulu9">9</label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-12">
      <button type="submit" class="btn btn-primary mt-3">Aloitahan</button>
    </div>
  </div>
</form>
{% endblock %}
