<h1 class="jumbotron display-1 justify-content-center">Kertolaskuja</h1>
<p class="lead">Valitse haluamasi kertolaskut.</p>
<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
   <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
   <label class="btn btn-outline-primary" for="btncheck2">2</label>
   <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
   <label class="btn btn-outline-primary" for="btncheck3">3</label>
   <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
   <label class="btn btn-outline-primary" for="btncheck4">4</label>
   <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
   <label class="btn btn-outline-primary" for="btncheck5">5</label>
   <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
   <label class="btn btn-outline-primary" for="btncheck6">6</label>
   <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
   <label class="btn btn-outline-primary" for="btncheck7">7</label>
   <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
   <label class="btn btn-outline-primary" for="btncheck8">8</label>
   <input type="checkbox" class="btn-check" id="btncheck9" autocomplete="off"><label class="btn btn-outline-primary" for="btncheck9">9</label>
</div>
<div class="col-12">
   <button type="submit" class="btn btn-primary mt-3" >Aloita</button>
</div>