<!DOCTYPE html>
<html lang="fi">

<head>
  {% block head %}
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{% block desc %}{% endblock desc %}" />
  <title>{% block title %}{% endblock title %} - Kertolaskut</title>

  <!-- Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Amethysta&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

  {% endblock %}
</head>

<body class="{% block body%}{%endblock%}">
  {%block header %}{% endblock%}
  {% block content %}{% endblock %}
  {%block footer %}{% endblock%}

  {% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
  {% endblock %}
</body>

</html>