{% extends "reunukset.jinja" %}

{% block title %}Tasot{% endblock %}

{% block content %}
<h1 class="text-3xl text-center">Pääsit tasolle {{session["user_level"]}}!</h1>
<h2 class="text-3xl">
</h2>
<img class="py-5" src=" {{gif}}">

<div class="text-center">
        <a href="\tasot" class="transition-colors duration-200 cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
        focus:ring-blue-300 fo</div>nt-medium rounded-lg text-sm w-full sm:w-auto pt-2 px-5 py-2.5  ">Jatka</a>

        {% endblock %}